# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual env
.venv/
env/
venv/

# Secrets / OAuth
.env
.env.*
.cache
.streamlit/secrets.toml

# Data / cache
data/
*.npy

# OS
.DS_Store

# Streamlit
.streamlit/
